.custom-badge .mat-badge-content {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}

.custom-badge .mat-icon {
    font-size: 28px;
    width: 32px;
    height: 32px;
}